<div class="container text-center">
<h1 class="text-center">New Shopping list</h1>
  <br>

<%= form_with scope: :shopping_lists, url: shoppingLists_path, local: true do |f| %>

  <% if @shopping_lists.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shopping_lists.errors.count, "error") %>
        prohibited this item from being saved:
      </h2>
      <ul>
        <% @shopping_lists.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <form>
      <div class="form-group">
        <%= f.label :List_name %>
        <%= f.text_field :name %>
      </div>
      <br>

  <p>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back to shopping lists', shoppingLists_path %>
  </p>
  <% end %>
  </form>
  </div>