<div class="container text-center" xmlns="http://www.w3.org/1999/html">
<h2 class="text-center">New Item</h2>
  <br>
  <br>

<%= form_with(model: [@shopping_lists, @items], local: true) do |f| %>

  <% if @items.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@items.errors.count, "error") %>
        prohibited this item from being saved:
      </h2>
      <ul>
        <% @items.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
    <div class="form-inline">
    <%= f.label :item %>
    <%= f.text_field :item %>

       <%= f.label :frequency_of_purchase %>
      <select <%= f.text_field :frequency_of_purchase, class: "form-control", id: "frequency_of_purchase" %>
      <option>Daily</option>
      <option>Weekly</option>
      <option>Monthly</option>
      </select>

    <%= f.label :last_purchase %>
    <%= f.date_field :last_purchase %>
    </div>

  <p>
    <br>
    <br>
   <%= f.submit class: "btn btn-primary"%>
    <%= link_to 'Back to items list', shopping_list_items_path(@shopping_lists) %>
  </p>
<% end %>
  </form>

</div>
