<h1>New Shopping list</h1>

<%= form_with scope: :shopping_lists, url: shopping_lists_path, local: true do |f| %>
  <p>
    <%= f.label :list_name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', shopping_lists_path %>