<p>
  <strong>List_Name:</strong>
  <%= @shopping_lists.name %>
</p>

<h2>List Items</h2>
<thead>
  <tr>
    <th>Item</th>
    <th>Frequency_of_purchase</th>
    <th>Last_purchased</th>
  </tr>
</thead>

<% @shopping_lists.items.each { |items| %>
<tr>
      <td><%=  items.item  %></td>
  <td><%= items.frequency_of_purchase %></td>
      <td><%=  items.last_purchase %></td>
  <td><%= link_to 'Edit', edit_shopping_list_item_path(items) %></td>
</tr>
<% } %>

<%= link_to 'Add Item', new_shopping_list_item_path(@shopping_list) %>

<%= link_to 'Back to Shopping Lists', shopping_lists_path %>