<h1>New Shopping list</h1>

<%= form_with scope: :shopping_item, url: shopping_items_path, local: true do |f| %>
  <p>
    <%= f.label :list_name %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :item %><br>
    <%= f.text_area :item %>
  </p>

  <p>
    <%= f.label :frequency_of_purchase%><br>
    <%= f.text_area :frequency_of_purchase %>
  </p>

  <p>
    <%= f.label :last_purchased%><br>
    <%= f.date_select :last_purchased%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>